[package]
name = "hyperjson"
version = "0.2.0"
authors = ["Matthias Endler <matthias-endler@gmx.net>"]

[dependencies]
serde_json = "1.0.13"
failure = "0.1.1"
serde = "1.0.53"
serde_derive = "1.0.53"

[dependencies.pyo3]
version = "0.6.0-alpha.2"

[lib]
name = "hyperjson"
crate-type = ["rlib", "cdylib"]

[features]
# We must make this feature optional to build binaries such as the profiling crate
default = ["pyo3/extension-module"]

[workspace]
members = [ "profiling" ]

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
