[package]
name = "hyperjson"
version = "0.1.0"
authors = ["Matthias Endler <matthias-endler@gmx.net>"]

[dependencies]
serde_json = "1.0.13"
failure = "0.1.1"
serde = "1.0.53"
serde_derive = "1.0.53"

[dependencies.pyo3]
version = "0.2.7"
default-features = false
features = ["extension-module"]

[lib]
name = "hyperjson"
crate-type = ["cdylib"]

[[bin]]
name = "hyperjson-bench"
path = "src/bench.rs"

[profile.release]
debug = true
