[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-benchmark = "*"
simplejson = "*"
ujson = "*"
yajl = "*"
python-rapidjson = "*"
wheel = "*"
hypothesis = "*"
pylint = "*"
matplotlib = "*"
"autopep8" = "*"

[packages]

[requires]
python_version = "3.6"
